/*
Author: Ryan Harang
Version: HTML5, CSS3
Date: 4/16/2023
Website: Ryan Harang's Portfolio
*/

/*
Table of Contents
1. Base + Header
2. Navigation Bar
3. Home
4. Waves
5. About
6. Projects
7. Footer
8. Images
9. Responsive Layout
*/

/* --- Base --- */
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(0deg, rgb(42, 44, 57) 90%, rgb(42, 44, 57) 0%);
}

section {
  padding: 40px 40px;
  overflow: hidden;
}

/* --- Header --- */
.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: auto auto;
  height: auto;
  transition: all 0.5s;
  z-index: 1000;
  background-color: rgba(44, 42, 57, 0.85);
}

/* --- Logo --- */
.logo h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 28px;
  margin: 0;
  padding: 20px 0px 0px 20px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

/* --- Navbar --- */
.navbar {
  font-family: "Raleway", sans-serif;
  margin: 0 0 1em 0;
  padding: 8px 0px 0px 8px;
}

.navbar ul {
  list-style: none;
  width: auto;
  display: flex;
  margin: 0;
}

.navbar li {
  padding: 10px 10px;
}

.navbar li a {
  width: auto;
  border-radius: 50px;
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #178582;
}

.navbar li a.active {
  color: #fff;
  background-color: #178582;
}

.navbar li a:hover {
  color: #fff;
  background-color: #178582;
  transition: 0.5s;
}

/* --- Home --- */
.home {
  font-family: "Raleway", sans-serif;
  width: 100%;
  position: relative;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(42, 44, 57) 90%);
  padding: 0;
}

.home h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

.intro {
  width: 70%;
  font-size: 19px;
  margin: 0 auto 30px auto;
  color: #fff;
}

.home-content {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 50vh;
  padding-top: 30px;
}

/* --- Read More Button --- */
.read-more {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  animation-delay: 0.8s;
  border: 2px solid #178582;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: none;
  background: #178582;
  color: #fff;
}

/* --- Pictures --- */
.self-pics {
  display: grid;
  grid-template-columns: 30% 30%;
  column-gap: 15%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 100%;
  overflow: hidden;
}
.main-pics {
  width: 100%;
  border-radius: 5%;
}

/* --- Control Wave Effects --- */
.home-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
}
.project-waves {
  display: block;
  width: 100%;
  height: 60px;
  transform: rotate(180deg);
  position: relative;
}
.wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
}
.wave2 use {
  animation: move-forever2 8s linear infinite;
  animation-delay: -2s;
}
.wave3 use {
  animation: move-forever3 6s linear infinite;
  animation-delay: -2s;
}
.wave4 use {
  animation: move-forever1 9s linear infinite;
  animation-delay: -2.1s;
}
.wave5 use {
  animation: move-forever2 7s linear infinite;
  animation-delay: -2.2s;
}
.wave6 use {
  animation: move-forever3 5s linear infinite;
  animation-delay: -2.3s;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
/* End Wave Effects */

/* --- About --- */
.about-title {
  padding-bottom: 40px;
}

.about-title h2 {
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #178582;
  font-family: "Poppins", sans-serif;
}

.about {
  font-family: "Raleway", sans-serif;
  padding-top: 30px;
  font-size: 16.5px;
  background-color: #fff;
}

.about-content ul {
  list-style: none;
  padding: 0;
}

.about-content ul li {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  padding-left: 28px;
  margin-top: 10px;
}

/* --- Projects --- */
.projects {
  display: grid;
  grid-template-columns: 53% 45%;
  column-gap: 2%;
  flex-direction: column;
  color: #fff;
}

.proj-img {
  margin-bottom: 1%;
}

.proj-img img {
  width: 100%;
  border: solid #178582 5px;
}

.proj-description {
  width: 100%;
  font-size: 20px;
  margin-bottom: 2%;
}

/* --- Footer --- */
.footer {
  background: #fff;
  color: #2a2c39;
  text-align: center;
  padding: 20px 0;
}

.footer h3 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

.footer p {
  font-size: 14px;
  font-style: italic;
  padding: 0;
  margin: 0 0 20px 0;
}

/* --- Links --- */
.footer-links {
  font-size: 10px;
  border-radius: 50%;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  width: 80px;
  padding: 12px;
  transition: 0.5s;
  line-height: 1;
  margin: 5px;
  background-color: #2a2c39;
  color: #fff;
  animation-delay: 0.8s;
  border: 2px solid #178582;
  text-decoration: none;
}

.footer-links:hover {
  background: #178582;
  color: #fff;
}

.text-link {
  color: #178582;
  font-weight: bold;
}

.text-link:hover {
  color: #178582;
  text-decoration: none;
}

.image-link {
  max-width: 100%;
}

/* --- Resume --- */
.experience {
  margin-left: 40px;
}

.resume {
  background-color: #fff;
  font-size: 19px;
}

.skills-list {
  font-size: 20px;
  margin-left: 40px;
}

/* --- PDF Frame --- */
.toggleButton {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px;
  border-radius: 40px;
  transition: 0.4s;
  line-height: 1;
  color: #fff;
  background-color: #2a2c39;
  border: 2px solid #178582;
}

.toggleButton:hover {
  background: #178582;
}

#pdfIframe {
  display: none;
  transition: 0.5s;
  margin: 10px;
  animation-delay: 0.8s;
  border: 5px solid #178582;
}

/* --- Contact --- */
.contact {
  display: grid;
  grid-template-columns: 40% 40%;
  margin: 2% 10% 2% 20%;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.contact-img {
  max-width: 10%;
}

.dropdown {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/* --- Mobile --- */
@media (max-width: 780px) {
  html,
  body {
    max-width: 780px;
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

  .navbar {
    display: none;
    margin: 0;
  }

  .contact {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2% 4% 2% 2%;
    text-align: center;
    font-size: 15px;
    color: #fff;
  }

  .contact-img {
    max-width: 30%;
  }

  .hamburger {
    padding: 7px 0;
    margin-top: 0.6em;
  }

  .mobileDrop {
    display: none;
    margin-right: 43px;
  }

  .dropdown {
    display: block;
  }

  .dropdown button {
    display: block;
  }

  .dropdown button img {
    padding: auto auto;
  }

  .dropdown ul {
    text-align: center;
    list-style: none;
    width: auto;
  }

  .dropdown li {
    padding: 10px 0;
  }

  .dropdown li a {
    width: auto;
    border-radius: 50px;
    padding: 5px 9px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #178582;
  }

  .dropdown li a.active {
    background-color: #fff;
  }

  .dropdown li a:hover {
    background-color: #fff;
    transition: 0.5s;
  }

  .show {
    display: block;
  }

  .header {
    padding: 2px 0 4% 5%;
    height: auto;
    transition: all 0.5s;
  }
  .logo h1 {
    font-size: 24px;
  }

  .home-content {
    height: 60vh;
    padding-top: 100%;
    margin-bottom: 30%;
  }

  .home h2 {
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 600;
  }

  /* Read More Button */
  .read-more {
    margin-bottom: 70%;
  }

  #selfPics {
    height: 12em;
    margin-bottom: 15px;
  }

  .projects {
    display: block;
    font-size: 14px;
  }
  .projImg {
    display: none;
  }
  .skills-list {
    display: block;
    padding-left: 0;
  }
}

/* Large Screen */
@media (min-width: 1300px) {
  #selfPics {
    height: 49vw;
  }

  .description {
    font-size: 1.25vw;
  }

  .description h3 {
    font-size: 2vw;
  }
}
