/*
Author: Ryan Harang
Version: HTML5, CSS3
Date: 4/16/2023
Website: Ryan Harang's Portfolio
*/

/*
Current List of Fixes in Progress:
- Make projects sections
*/

/*
Table of Contents
1. Base + Header
2. Navigation Bar
3. Home
4. Waves
5. Section + About
6. Projects
7. Footer
8. img Testing
9. Responsive Layout
*/

html {
  scroll-behavior: smooth;
}

body {
  /*background-color: #0a1828;*/
  /*background-color: #fff;*/
  background: linear-gradient(0deg, rgb(42, 44, 57) 90%, rgb(42, 44, 57) 0%);
}

/*--- # Header Section ---*/
#header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: auto auto;
  height: auto;
  transition: all 0.5s;
  z-index: 1000;
  background-color: rgba(44, 42, 57, 0.85);
}

#header .logo h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  /*color: #d1e8e2;*/
  font-size: 28px;
  margin: 0;
  padding: 20px 0px 0px 20px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

/*--- # Navbar Section ---*/
.navbar {
  font-family: "Raleway", sans-serif;
  margin: 0 0 1em 0;
  padding: 8px 0px 0px 8px;
}

.navbar ul {
  list-style: none;
  width: auto;
  display: flex;
  margin: 0;
}

.navbar li {
  padding: 10px 10px;
}

.navbar li a {
  width: auto;
  border-radius: 50px;
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #178582;
  /*color: #116466;*/
  /*color: #d9b08c;*/
}

.navbar li a.active {
  background-color: #fff;
  /*background-color: #d1e8e2;*/
}

.navbar li a:hover {
  background-color: #fff;
  /*background-color: #d1e8e2;*/
  transition: 0.5s;
}

/* --- # Home Section --- */
#home {
  font-family: "Raleway", sans-serif;
  width: 100%;
  position: relative;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(42, 44, 57) 90%);
  padding: 0;
}

#home h2 {
  color: #fff;
  /*color: #d1e8e2;*/
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#home p {
  width: 70%;
  animation-delay: 0.4s;
  font-size: 19px;
  margin: 0 auto 30px auto;
  color: #fff;
  /*color: #d1e8e2;*/
}

#home .carousel-container {
  width: 100%;
  color: #fff;
  /*color: #d1e8e2;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 50vh;
  padding-top: 30px;
}

/* Read More Button */
#home .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  /*color: #d1e8e2;*/
  animation-delay: 0.8s;
  border: 2px solid #178582;
  /*border: 2px solid #116466;*/
  /*border: 2px solid #d9b08c;*/
  text-decoration: none;
}

#home .btn-get-started:hover {
  background: #178582;
  /*background: #116466;*/
  /*background: #d9b08c;*/
  color: #fff;
  /*color: #d1e8e2;*/
}

/* Controls Wave Effects */
.home-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
}
.project-waves {
  display: block;
  width: 100%;
  height: 60px;
  transform: rotate(180deg);
  position: relative;
}
.wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
}
.wave2 use {
  animation: move-forever2 8s linear infinite;
  animation-delay: -2s;
}
.wave3 use {
  animation: move-forever3 6s linear infinite;
  animation-delay: -2s;
}
.wave4 use {
  animation: move-forever1 9s linear infinite;
  animation-delay: -2.1s;
}
.wave5 use {
  animation: move-forever2 7s linear infinite;
  animation-delay: -2.2s;
}
.wave6 use {
  animation: move-forever3 5s linear infinite;
  animation-delay: -2.3s;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

#about {
  background-color: #fff;
  /*background-color: #d1e8e2;*/
}

.projects {
  display: grid;
  grid-template-columns: 53% 45%;
  column-gap: 2%;
  flex-direction: column;
  color: #fff;
  /*color: #d1e8e2;*/
}

.projImg {
  margin-bottom: 1%;
}

.projImg img {
  width: 100%;
  border: solid #178582 5px;
  /*border: solid #116466 5px;*/
  /*border: solid #d9b08c 5px;*/
}

.description {
  width: 100%;
  font-size: 20px;
  margin-bottom: 2%;
}

.text-link {
  color: #178582;
  /*color: #116466;*/
  /*color: #d9b08c;*/
  font-weight: bold;
}
.text-link:hover {
  color: #178582;
  /*color: #116466;*/
  /*color: #d9b08c;*/
  text-decoration: none;
}

/* --- # Sections General --- */
section {
  padding: 40px 40px;
  overflow: hidden;
}
.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #178582;
  /*color: #116466;*/
  /*color: #d9b08c;*/
  font-family: "Poppins", sans-serif;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #2a2c39;
}

/* --- # About --- */
.about {
  font-family: "Raleway", sans-serif;
  padding-top: 30px;
  font-size: 16.5px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  padding-left: 28px;
  margin-top: 10px;
}

/* --- # Footer --- */
#footer {
  background: #fff;
  color: #2a2c39;
  /*color: #2c3531;*/
  /*color: #d9b08c;*/
  /*color: #d1e8e2;*/
  text-align: center;
  padding: 20px 0;
}

#footer h3 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 14px;
  font-style: italic;
  padding: 0;
  margin: 0 0 20px 0;
}

.links {
  font-size: 10px;
  border-radius: 50%;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  width: 80px;
  padding: 12px;
  transition: 0.5s;
  line-height: 1;
  margin: 5px;
  background-color: #2a2c39;
  /*background-color: #2c3531;*/
  /*background-color: #d9b08c;*/
  color: #fff;
  /*color: #d1e8e2;*/
  animation-delay: 0.8s;
  border: 2px solid #178582;
  /*border: 2px solid #116466;*/
  /*border: 2px solid #d9b08c;*/
  text-decoration: none;
}

.imageLink {
  max-width: 100%;
}

/* Hover characteristics for Read More Button */
.links:hover {
  background: #178582;
  /*background: #116466;*/
  /*background: #d9b08c;*/
  color: #fff;
  /*color: #d1e8e2;*/
}

.resume {
  background-color: #fff;
  /*background-color: #d1e8e2;*/
  font-size: 19px;
}

.skills-list {
  display: flex;
  list-style: none;
}

.skills-list li {
  padding-right: 1em;
}

.contact {
  text-align: center;
  display: block;
  padding: 5% 0;
  background-color: #2a2c39;
  /*background-color: #2c3531;*/
  /*background-color: #d9b08c;*/
  /*background-color: #d1e8e2;*/
}

.contact-table {
  table-layout: fixed;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #fff;
}

.contact-table td {
  width: 200px;
}
.contact-img {
  max-width: 25%;
  margin: 3%;
}

.contact-me {
  padding: 5px 10px;
  font-family: "Raleway", sans-serif;
  margin-right: 35%;
  margin-left: 35%;
  color: #fff;
  /*color: #d1e8e2;*/
}

#selfPics {
  display: grid;
  grid-template-columns: 44% 44%;
  column-gap: 5%;
  margin-left: 3.5%;
  margin-right: 3.5%;
  width: 100%;
  height: 46em;
  overflow: hidden;
}
.mainPics {
  width: 100%;
  border-radius: 3%;
}
.dropdown {
  display: none;
}

/* Mobile */
@media (max-width: 780px) {
  html,
  body {
    max-width: 780px;
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

  .navbar {
    display: none;
    margin: 0;
  }

  .hamburger {
    padding: 7px 0;
    margin-top: 0.6em;
  }

  .mobileDrop {
    display: none;
    margin-right: 43px;
  }

  .dropdown {
    display: block;
  }

  .dropdown button {
    display: block;
  }

  .dropdown button img {
    padding: auto auto;
  }

  .dropdown ul {
    text-align: center;
    list-style: none;
    width: auto;
  }

  .dropdown li {
    padding: 10px 0;
  }

  .dropdown li a {
    width: auto;
    border-radius: 50px;
    padding: 5px 9px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #178582;
    /*color: #116466;*/
    /*color: #d9b08c;*/
  }

  .dropdown li a.active {
    background-color: #fff;
    /*background-color: #d1e8e2;*/
  }

  .dropdown li a:hover {
    background-color: #fff;
    /*background-color: #d1e8e2;*/
    transition: 0.5s;
  }

  .show {
    display: block;
  }

  #header {
    padding: 2px 0 4% 5%;
    height: auto;
    transition: all 0.5s;
  }
  #header .logo h1 {
    font-size: 24px;
  }

  #home h2 {
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 600;
  }

  #home .carousel-container {
    padding-top: 150px;
    margin-bottom: 30%;
  }

  /* Read More Button */
  #home .btn-get-started {
    margin-bottom: 75px;
  }

  #selfPics {
    height: 12em;
    margin-bottom: 15px;
  }

  .projects {
    display: block;
    font-size: 14px;
  }
  .projImg {
    display: none;
  }
  .skills-list {
    display: block;
    padding-left: 0;
  }

  .contact-me {
    font-size: 35px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}
