@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styles for the progress bars in skills */
/* .wave-animation {
  animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.8);
  }
  100% {
    transform: scaleX(1);
  }
} */

/* Styles for arrow buttone of slider */
.slick-arrow {
  padding-top: 1px;
  background-color: #f0838f;
  border-radius: 50%;
}

.slick-arrow:hover {
  background-color: #f0838f;
}

.slick-arrow:focus {
  background-color: #f0838f;
}

/* Styles for icons as backgrounds - Not currently in use 
.github-icon {
  background-image: url("./assets/svg/github.svg");
  background-size: cover;
}

.linkedin-icon {
  background-image: url("./assets/svg/linkedin.svg");
  background-size: cover;
} */