@keyframes move-up-wave {
    0% {
        transform: scaleX(230%);
    }

    50% {
        transform: scaleX(700%);
    }

    100% {
        transform: scaleX(230%);
    }
}

@keyframes move-down-wave {
    0% {
        transform: scaleX(230%) rotate(180deg);
    }

    50% {
        transform: scaleX(700%) rotate(180deg);
    }

    100% {
        transform: scaleX(230%) rotate(180deg);
    }
}

.up-wave {
    animation: move-up-wave 5s linear infinite;
}

.down-wave {
    animation: move-down-wave 5s linear infinite;
    animation-delay: -4s;
    transform: rotate(180deg);
}